<br><br><br><br><br><br><br><br>
<div class="d-grid gap-2"><h2 style="text-align:center">Login</h2></div>
        <br><br>
        <div class="row">
          <div class="col-sm-4">
          </div>
          <div class="col-sm-4">
            <input class="form-control form-control-lg" type="text" placeholder="PIB" [(ngModel)]="info.pib" aria-label=".form-control-lg example">
        </div>
        <div class="col-sm-4">
        </div>
    </div>
      <br><br>
      <div class="row">
        <div class="col-sm-4">
        </div>
        <div class="col-sm-4">
          <input class="form-control form-control-lg" type="password" placeholder="Password" [(ngModel)]="info.password" aria-label=".form-control-lg example">
      </div>
      <div class="col-sm-4">
      </div>
</div>
<br><br>
  <div class="row">
    <div class="col-sm-4">
    </div>
    <div class="col-sm-4">
      <div class="d-grid gap-2"><button (click)="login()" class="btn btn-outline-primary btn-lg" type="button">Log in</button></div>
  </div>
  <div class="col-sm-4">
</div>
<br><br>
</div>
<br><br>
<div class="row">
    <div class="col-sm-4">
    </div>
    <div class="col-sm-4">
        <div class="d-grid gap-2"><button (click)="registerCompany()" class="btn btn-outline-primary btn-lg" type="button">Register</button></div>
    </div>
  <div class="col-sm-4">
</div>
<br><br>
</div>


  <br><br>


