<div class="container-fluid">
  <br><br><br><br><br><br><br><br>

      <div class="d-grid gap-2"><h2 style="text-align:center">Pick a payment method</h2></div>
    <br><br>
      <div class="row">
        <div class="col-sm-4">
        </div>
        <div class="col-sm-4">
          <div class="d-grid gap-2"><button class="btn btn-outline-danger btn-lg" type="button">Card payment</button></div>
      </div>
      <div class="col-sm-4">
      </div>
    </div>
    <br><br>
    <div class="row">
      <div class="col-sm-4">
      </div>
      <div class="col-sm-4">
        <div class="d-grid gap-2"><button class="btn btn-outline-secondary btn-lg" type="button">QR code payment</button></div>
    </div>
    <div class="col-sm-4">
    </div>
  </div>
  <br><br>
  <div class="row">
    <div class="col-sm-4">
    </div>
    <div class="col-sm-4">
      <div class="d-grid gap-2"><button (click)="payWithPayPal()" class="btn btn-outline-primary btn-lg" type="button">PayPal payment</button></div>
  </div>
  <div class="col-sm-4">
  </div>
</div>
<br><br>
<div class="row">
  <div class="col-sm-4">
  </div>
  <div class="col-sm-4">
    <div class="d-grid gap-2"><button class="btn btn-outline-warning btn-lg" type="button">Bitcoin payment</button></div>
</div>
<div class="col-sm-4">
</div>
</div>
<br><br>
</div>

<br><br>
<div class="container-fluid">
    <div class="alert alert-success" role="alert">
        <h4 style="text-align:center" class="alert-heading">PayPal payment successful!</h4>
        <p style="text-align:center">Your PayPal payment was successful. Thank you for your purchase ! 
            Click the button below to close this window. </p>
        <hr>
    <div style="text-align:center;" >
      <button class="btn btn-success btn-lg" (click)="close()" type="button">Close</button>
        </div>
  </div>
