<br><br>
<div class="container-fluid">
    <div class="alert alert-danger" role="alert">
        <h4 style="text-align:center" class="alert-heading">PayPal payment NOT successful.</h4>
        <p style="text-align:center">Your PayPal payment was NOT successful. Something went wrong. Please, check your data or try again later.
            Click the button below to close this window. </p>
        <hr>
    <div style="text-align:center;" >
      <button class="btn btn-danger btn-lg" (click)=close() type="button">Close</button>
        </div>
  </div>
